<div class='page-header'>
  <h1>Current Pets</h1>
</div>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>user</th>
      <th>link</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td> 
          <% if link.link_type.match? (/^image/) %>
            <img src=<%= link.link %> \>
          <% else %>
            <video width="320" height="240" controls>
              <source src=<%= link.link %> type= <%= link.link_type %> >
            </video>
          <% end %>

        </td>
        
      </tr>
    <% end %>
    <tr>
    <td>
      <%= link_to 'New link', new_user_profile_media_link_path(user_id: 1), class: 'btn btn-primary' %>
      <%= link_to 'return to pet list', user_profile_media_links_path(user_id: 1), class: 'btn btn-primary' %>

      </td>
    </tr>
  </tbody>
</table>

<br>
