<h1>Upload a file</h1>

<%= form_tag user_profile_media_links_path, enctype: 'multipart/form-data' do %>
  <%= file_field_tag :file  %>
  <br>
  <%= label_tag 'rock', 'rock' %>
  <%= check_box_tag 'rock', 'rock music' %>
  <br>
  <%= submit_tag 'Upload file' %>
<% end %>