<!-- <form action='/pet' class="form-inline" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" >
      <input type='text' name='name' placeholder='name' />
      <input type='text' name='breed' placeholder='breed' />
      <input type='submit' value='submit' />
</form>
 -->

<div>

  <%= form_for @pet, enctype: 'multipart/form-data' do |f| %>
    <% if @pet.errors.any? %>
    <fieldset>
        <div id="error_explanation">
          <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

          <ul>
          <% @pet.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-group'>
        <%= f.label :name, class: 'col-lg-2' %>
        <div class='col-lg-5'>
        <%= f.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :breed, class: 'col-lg-2' %>
        <div class='col-lg-5'>
        <%= f.text_field :breed, class: 'form-control', required: true %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :'upload a pet avatar', class: 'col-lg-2' %>
        <div class='col-lg-5'>
        <%= f.file_field :file, required: true  %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <fieldset>
  <% end %>
</div>