<div class='page-header'>
  <h1><%= @pet.name %></h1>
</div>

<div class='row'>
  <div class='col-lg-12'>
    <h4>Breed</h4>
    <p><%= @pet.breed %></p>

    <h4>PICTURES HERE??</h4>


    <h5>   <%= link_to 'Back to all pets', pets_path %> </h5>



  </div>

</div>


<div class='well'>
  <%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-primary' %> |
  <%= link_to 'Back', pets_path %> |
</div>
