<div class='container'>
  <%= form_for @tournament do |f| %>
    <% if @tournament.errors.any? %>
      <fieldset>
          <div id="error_explanation">
            <h2><%= pluralize(@tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>
            <ul>
            <% @tournament.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class='container'>
          <div class='form-group'>
            <%= f.label :theme, class: 'col-lg-2' %>
            <div class='col-lg-10'>
              <%= f.text_field :theme, class: 'form-control', required: true %>
            </div>
          </div>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <fieldset>
  <% end %>
</div>