<div class="container">
  <h1><%= @user.username %></h1>
  <% if @user.profile_pic %> 
    <img src=<%= @user.profile_pic %> />
  <% end %>
  <h3>Name: <%="#{@user.f_name} #{@user.l_name}"%></h3>
  <h3>Username: <%=@user.username%></h3>
  <h3>Email: <%=@user.email%></h3> 
  <%= link_to 'Edit Account Information', edit_user_registration_path, class: 'btn btn-primary' %>
</div>

<div class="container">
  <%= link_to 'Add a new pet', new_pet_path, class: 'btn btn-primary' %>
</div>

<div class="container">
  <%= form_tag user_profile_media_links_path(user_profile_id: current_user.id), enctype: 'multipart/form-data' do %>
    
    <div class="row">
      <% i = 0 %>
      <% @pets.each do |pet| %>
            <tr>
              <div class="column" style="background-color:#fff;">
                <div id="cardWrapper">
                  <% if pet.profile_pic != nil %>         
                    <img src=<%= pet.profile_pic %> /> 
                    <br>
                    <%= check_box_tag 'pets[]', pet.id%>
                    <%= link_to pet.name, pet_path(id: pet.id) %>
                    <br>
                    <div id="cardContentContainer">
                      <h2>   <%= link_to pet.name, pet_path(id: pet.id) %> </h2>
                      <%= link_to 'Edit', edit_pet_path(id: pet.id) %> |
                      <%= link_to 'Destroy', pet_path(id: pet.id), method: :delete, data: { confirm: 'Are you sure?' } %>
                      <p> <%= pet.breed %> </p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div><b>tag you pet and select an image or video to upload</b></div>
      <%= file_field_tag :file  %>
      <br>
      <%= submit_tag 'Upload file' %>
    </div>
  <% end %>
</div>
