<div class="container">
  <h1><%= @user.username %></h1>
  <% if @user.profile_pic %> 
    <img src=<%= @user.profile_pic %> />
  <% end %>
  <h4> Name: <%="#{@user.f_name} #{@user.l_name}"%></h4>
  <h4> Username: <%=@user.username%></h4>
  <h4> Email: <%=@user.email%></h4>
  <h4> <%= link_to 'Edit Account Information', edit_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to 'Add a new pet', new_pet_path, class: 'btn btn-primary' %> </h4>
</div>

<div class="container">
    <div class="row">
      <% @pets.each do |pet| %>
          <div class="col-" style="background-color:#fff">
            <div class="container">
              <% if pet.profile_pic != nil %>         
                <img class="align-self-center" style="height:300px" src=<%= pet.profile_pic %> />
              <% end %>
              <div class="container" id="cardContentContainer">
                <h4> <%= link_to pet.name, pet_path(id: pet.id) %> </h4>
                <p> <%= pet.breed %> </p>
                <p> <%= link_to 'Edit', edit_pet_path(id: pet.id), class: 'btn btn-primary' %> </p>
              </div>
            </div>
          </div>
      <% end %>
  </div>
</div>


