<div class="container-fluid">
  <div class='col-8 justify-content-center'>
    <div class='page-header'>
  <h1><%= @user.username %></h1>
</div>
<% if @user.profile_pic %>
  <img src=<%= @user.profile_pic %> />
<% end %>
<hr>

<h3> <strong>Username: </strong><%= @user.username %> </h3>

<h3> <strong>Name: </strong> <%= @user.f_name %> <%= @user.l_name %>  </h3>

<h3> <strong>Email: </strong> <%= @user.email %> </h3>


<td>
    <%= link_to 'Edit Account Information', edit_user_registration_path, class: 'btn btn-primary' %>
</td>
    
<%= form_tag user_profile_media_links_path(user_profile_id: current_user.id), enctype: 'multipart/form-data' do %>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td>
          <%= check_box_tag 'pets[]', pet.id%>
          <%= link_to pet.name, pet_path(id: pet.id) %>
        </td>
        <td>
          <%= pet.breed %>
        </td>
        <% if pet.profile_pic != nil %>
              <td>
                <img src=<%= pet.profile_pic %> />
              </td>
        <% end %>
          <td>
            <%= link_to 'Edit', edit_pet_path(id: pet.id) %> |
            <%= link_to 'Destroy', pet_path(id: pet.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>

  <tbody>
</table>
    <%= link_to 'Add a new pet', new_pet_path, class: 'btn btn-primary' %>

    <div><b>tag you pet and select an image or video to upload</b></div>
    <%= file_field_tag :file  %>
    <br>
    <%= submit_tag 'Upload file' %>
<% end %>
</div>
</div


















          <td>
            <%= link_to 'Edit', edit_pet_path(id: pet.id) %> |
            <%= link_to 'Destroy', pet_path(id: pet.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>

  <tbody>
</table>















    <%= link_to 'Add a new pet', new_pet_path, class: 'btn btn-primary' %>

    <div><b>tag you pet and select an image or video to upload</b></div>
    <%= file_field_tag :file  %>
    <br>
    <%= submit_tag 'Upload file' %>
<% end %>
</div>
</div
