<div class='page-header'>
  <h1>Account Information</h1>
</div>

<hr>

<h3> <strong>Username: </strong><%= @user.username %> </h3>

<h3> <strong>Name: </strong> <%= @user.f_name %> <%= @user.l_name %>  </h3>

<h3> <strong>Email: </strong> <%= @user.l_name%> </h3>

<td>
  <%= link_to 'Edit Account Information', edit_user_registration_path, class: 'btn btn-primary' %>
</td>
